$purple: #7114b9;
$tan: #8b7f77;
$background: #111010;

@font-face {
  font-family: "avant";
  src: url("/assets/Avant Garde Gothic LT Demi Regular.otf");
}

body,
html {
  background: #{$background};
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "avant", sans-serif;
  overflow: hidden;
}

@import "global.scss";
@import "ovr.scss";
@import "modal.scss";
@import "home.scss";
@import "media.scss";
@import "contact.scss";
