.Skybox {
  &-position {
    position: relative;
    transform: translate3d(0vw, 0vw, 200vw);
    transform-style: preserve-3d;
    transition-timing-function: ease-in-out;
  }

  &-rotor-x, &-rotor-y{
    transform-style: preserve-3d;
    transform-origin: center center -165vw;
    transition-timing-function: ease-in-out;
  }

  &-faces {
    position: relative;
    width: 100vw;
    height: 100vw;
    transform-style: preserve-3d;
  }

  &-face {
    position: absolute;
    display: block;
    width: 200vw;
    height: 200vw;
    background-image: url("../assets/pictures/stars.png");
    background-size: 15vw;
    background-repeat: repeat;

    &-left {
      transform: translate3d(-105vw, 0vw, -150vw) rotateY(90deg);
    }

    &-right {
      transform: translate3d(105vw, 0, -150vw) rotateY(-90deg);
    }

    &-front {
      transform: translate3d(0, 0, -200vw) rotate3d(0, 1, 0, 180deg);
    }

    &-back {
      transform: translate3d(0, 0, -60vw);
    }

    &-up {
      transform: translate3d(-5vw, -95vw, -150vw) rotate3d(1, 0, 0, -90deg);
    }

    &-down {
      transform: translate3d(-5vw, 95vw, -150vw) rotate3d(1, 0, 0, 90deg);
    }
  }
}
