@font-face {
  font-family: "avant";
  src: url("/assets/fonts/Avant Garde Gothic LT Demi Regular.otf");
}

@font-face {
  font-family: "Brandon Bld";
  src: url("/assets/fonts/Brandon_bld.otf");
}

@font-face {
  font-family: "Brandon Blk";
  src: url("/assets/fonts/Brandon_blk.otf");
}

@font-face {
  font-family: "Avang SBB";
  src: url("/assets/fonts/AVANGSBB.TTF");
}

@font-face {
  font-family: "Avang SBM";
  src: url("/assets/fonts/AVANGSBM.TTF");
}

@font-face {
  font-family: "Clan OT";
  src: url("/assets/fonts/ClanOT-Thin.otf");
}
